/* Container */
.container {
	margin: 3rem 9.5rem 0 9.5rem;
}

#filler {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 8rem;
	z-index: 1;
	background-color: var(--primary-color);
}

/* Web Navbar */
.web-nav > ul {
	display: flex;
	position: fixed;
	top: 4rem;
	width: 38rem;
	justify-content: space-between;
	z-index: 2;
}

.web-nav > ul > li {
	text-decoration: none;
	list-style: none;
	cursor: pointer;
	font-size: 1.25rem;
}

.web-nav > ul > li > a,
.web-nav > ul > li > a:active,
.web-nav > ul > li > a:hover,
.web-nav > ul > li > a:visited {
	padding: 0.4rem 1.5rem;
	text-decoration: none;
	color: var(--secondary-color);
}

.web-nav > button {
	display: none;
}

.web-nav > button > i {
	size: 600%;
}

/* For the active element of the navbar */
#active {
	border: 2px solid var(--secondary-color);
}

@media only screen and (max-width: 768px) {
	.web-nav > ul {
		display: none;
		flex-direction: column;
		align-items: center;
		position: fixed;
		top: 5vh;
		left: -0.5rem;
		width: 100%;
		background: var(--primary-color);
	}
	.web-nav > ul > li {
		margin-top: 1rem;
	}
	.web-nav > ul > li:last-child {
		margin-bottom: 2rem;
	}
	#active {
		border: none;
	}
	.web-nav > #mobileButton {
		display: flex;
		color: var(--secondary-color);
		background-color: var(--primary-color);
		border: none;
		font-size: 1.5rem;
		outline: none !important;
		position: fixed;
		top: 1.5rem;
		z-index: 2;
	}
	#filler {
		height: 4rem;
	}
}

@media screen and (min-width: 768px) {
	#filler {
		height: 8rem;
		max-width: 100vw;
		margin: 0 1rem;
	}
	.web-nav > ul {
		display: flex !important;
		position: fixed;
		top: 4rem;
		width: 38rem;
		justify-content: space-between;
		z-index: 2;
	}
	#active {
		border: 2px solid var(--secondary-color) !important;
	}
}
